body{
    font: 400 15px/1.8 Lato, sans-serif;
    color: black;
    width:100%;
    height: 100%;
    margin:0px;
    padding:0px;
    overflow-x: hidden;
    background-color: #f3f8fa;
    line-height: 1.42857143;
  }

  #input,#btn{
    text-decoration: none;
    outline:0;
  }

  #input:focus,#btn:focus{
    text-decoration: none;
    outline:0;
  }



@media (min-width: 600px){
  #search{
    padding:25px;
    background-color: #1a265c !important;
  }
  #main{
    width:500px !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 10px solid white;
    margin-top:120px;
  }
}

@media (max-width: 600px){
  #search{
    padding:25px;
    background-color: #1a265c !important;
  }

}



.data{
  padding:25px;
  background-color: white !important;
}
